In [1]:
%matplotlib tk

In [2]:
code = 'mhim7'

In [3]:
mp = getattr(__import__('pt_2'),'PI')(code, 10)

In [4]:
getattr(mp,'plot')()

In [5]:
getattr(mp,'ltdmos')('a')

[25244, 25434, 25439, 25549, 25710, 25717, 25733, 25826, 25995, 26032]

In [6]:
getattr(mp,'xfinder')('d')

         Date  Delta         ATR   MAO   Open   High    Low  Close  Volume
17 2017-06-12    268  180.786345  ESWK  25808  25820  25552  25584   37956
22 2017-06-19    289  194.339999  EWSK  25508  25797  25508  25777   28472

In [7]:
getattr(mp,'xfinder')('r')

         Date           WMA      SMA           EMA          KAMA        RSI
20 2017-06-15  25737.486152  25743.4  25498.326857  25747.103619  48.497756
21 2017-06-16  25719.167909  25727.0  25498.494171  25729.809617  51.221634

In [8]:
setattr(mp,'period',12)

In [9]:
getattr(mp,'ltdmos')('a')

[25184, 25442, 25448, 25491, 25707, 25712, 25741, 25767, 25977, 26039]

In [10]:
getattr(mp,'xfinder')('d')

         Date  Delta         ATR   MAO   Open   High    Low  Close  Volume
15 2017-06-12    268  181.007664  ESWK  25808  25820  25552  25584   37956
20 2017-06-19    289  192.377259  EWSK  25508  25797  25508  25777   28472

In [11]:
getattr(mp,'xfinder')('r')

,Date,WMA,SMA,EMA,KAMA,RSI
18,2017-06-15,25699.181398,25699.583333,25433.066735,25745.092288,52.271632
19,2017-06-16,25688.466210,25696.166667,25438.644507,25738.747818,54.415003