In [1]:
%matplotlib tk

In [2]:
getattr(getattr(__import__('pt_2'),'PI')('mhij7'),'plot')()

In [3]:
getattr(getattr(__import__('pt_2'),'PI')('mhij7'),'fdc')('i')

,Date,WMA,SMA,EMA,KAMA,RSI
0,2017-03-17,23795.204806,23737.250000,23789.160880,23766.317988,67.293012
1,2017-03-20,23836.242746,23779.666667,23852.814140,23815.816624,71.714141
2,2017-03-21,23930.308987,23854.916667,23916.496295,23870.747390,72.767458
3,2017-03-22,24046.046265,23943.416667,23949.121603,23893.552102,60.835443
4,2017-03-23,24107.533352,24003.416667,23983.611470,23915.291362,62.043953
5,2017-03-24,24154.388926,24060.666667,24017.560514,23935.899574,62.683456
6,2017-03-27,24197.917450,24110.500000,24037.847138,23952.476811,57.754853
7,2017-03-28,24251.106611,24173.583333,24066.026543,23976.432256,60.734247
8,2017-03-29,24298.068812,24241.000000,24095.440998,23996.989567,61.832258
9,2017-03-30,24347.231372,24292.000000,24113.487581,24011.280650,57.469752
10,2017-03-31,24335.724156,24335.500000,24114.780283,24015.567853,50.784634
11,2017-04-03,24256.528156,24364.250000,24125.715259,24021.636413,54.477938
12,2017-04-05,24253.502442,24357.000000,24130.905654,24026.396433,52.353280

In [4]:
getattr(getattr(__import__('pt_2'),'PI')('mhij7'),'fdc')('o')

         Date             APZ              BB              KC
0  2017-03-17  (23623, 23958)  (23515, 23959)  (23588, 23945)
1  2017-03-20  (23675, 24012)  (23564, 23995)  (23636, 23996)
2  2017-03-21  (23738, 24075)  (23685, 24025)  (23695, 24047)
3  2017-03-22  (23773, 24109)  (23775, 24111)  (23721, 24066)
4  2017-03-23  (23810, 24147)  (23841, 24166)  (23746, 24085)
5  2017-03-24  (23843, 24180)  (23906, 24215)  (23770, 24102)
6  2017-03-27  (23866, 24207)  (23955, 24266)  (23780, 24125)
7  2017-03-28  (23894, 24235)  (24011, 24336)  (23812, 24141)
8  2017-03-29  (23925, 24268)  (24066, 24416)  (23836, 24158)
9  2017-03-30  (23946, 24292)  (24122, 24462)  (23848, 24174)
10 2017-03-31  (23953, 24301)  (24167, 24504)  (23849, 24182)
11 2017-04-03  (23964, 24305)  (24194, 24534)  (23863, 24180)
12 2017-04-05  (23977, 24317)  (24230, 24484)  (23869, 24184)

In [5]:
getattr(getattr(__import__('pt_2'),'PI')('mhi7'),'xfinder')('d')

Empty DataFrame
Columns: [Date, Delta, ATR, MAO, Open, High, Low, Close, Volume]
Index: []

In [6]:
getattr(getattr(__import__('pt_2'),'PI')('mhij7'),'xfinder')('r')

        Date           WMA           SMA           EMA         KAMA        RSI
2 2017-03-21  23930.308987  23854.916667  23916.496295  23870.74739  72.767458