In [1]:
%matplotlib tk

In [2]:
code = 'mhik7'

In [3]:
mp = getattr(__import__('pt_2'),'PI')(code, 10)

In [4]:
getattr(mp,'plot')()

In [5]:
getattr(mp,'ltdmos')('a')

[23901, 23955, 23977, 24190, 24192, 24258, 24403, 24428, 24504, 24508]

In [6]:
getattr(mp,'xfinder')('d')

Empty DataFrame
Columns: [Date, Delta, ATR, MAO, Open, High, Low, Close, Volume]
Index: []

In [7]:
getattr(mp,'xfinder')('r')

Empty DataFrame
Columns: [Date, WMA, SMA, EMA, KAMA, RSI]
Index: []

In [8]:
setattr(mp,'period',12)

In [9]:
getattr(mp,'ltdmos')('a')

[23883, 23894, 23987, 24134, 24186, 24232, 24384, 24385, 24450, 24504]

In [10]:
getattr(mp,'xfinder')('d')

Empty DataFrame
Columns: [Date, Delta, ATR, MAO, Open, High, Low, Close, Volume]
Index: []

In [11]:
getattr(mp,'xfinder')('r')

,Date,WMA,SMA,EMA,KAMA,RSI
0,2017-04-24,23995.292742,24043.083333,24044.237269,24041.995046,46.272335