In [12]:
%matplotlib tk

In [13]:
fit, him = 'mhi', getattr(__import__('handy'),'him')
__ = him({'utilities':('mtf',)})
for _ in list(__.keys()): exec("%s=__['%s']" % (_, _))
code = mtf(fit)

In [14]:
mp = getattr(__import__('pt_2'),'PI')(code, 10)

In [15]:
getattr(mp,'plot')()

In [16]:
getattr(mp,'ltdmos')('a')

[26482, 26729, 26850, 27096, 27110, 27123, 27334, 27426, 27464, 27743]

In [17]:
getattr(mp,'xfinder')('d')

         Date  Delta         ATR   MAO   Open   High    Low  Close  Volume
10 2017-07-31    290  199.111443  ESWK  26975  27241  26951  27234   28466
11 2017-08-01    307  209.900299  ESWK  27220  27524  27217  27516   34745

In [18]:
getattr(mp,'xfinder')('r')

        Date           WMA      SMA        EMA          KAMA        RSI
0 2017-07-17  25738.228212  25711.0  25777.386  25818.195287  71.252677

In [19]:
setattr(mp,'period',12)

In [ ]:
getattr(mp,'ltdmos')('a')

In [ ]:
getattr(mp,'xfinder')('d')

In [ ]:
getattr(mp,'xfinder')('r')