In [1]:
%matplotlib tk

In [2]:
code = 'mhin7'

In [3]:
mp = getattr(__import__('pt_2'),'PI')(code, 10)

In [4]:
getattr(mp,'plot')()

In [5]:
getattr(mp,'ltdmos')('a')

[25058, 25491, 25713, 25804, 25844, 25915, 26074, 26272, 26436, 26629]

In [6]:
getattr(mp,'xfinder')('d')

         Date  Delta         ATR   MAO   Open   High    Low  Close  Volume
13 2017-07-04    608  237.292875  EKSW  25680  25747  25139  25307   53757
18 2017-07-11    424  258.225000  WSEK  25552  25968  25544  25967   40582

In [7]:
getattr(mp,'xfinder')('r')

         Date           WMA      SMA           EMA          KAMA        RSI
13 2017-07-04  25654.061814  25599.0  25570.082983  25575.448592  45.303671
16 2017-07-07  25519.364962  25571.2  25529.262495  25553.090445  45.832669

In [8]:
setattr(mp,'period',12)

In [9]:
getattr(mp,'ltdmos')('a')

[25092, 25467, 25583, 25777, 25809, 25866, 25943, 26204, 26304, 26526]

In [10]:
getattr(mp,'xfinder')('d')

         Date  Delta        ATR   MAO   Open   High    Low  Close  Volume
11 2017-07-04    608  228.96827  EKSW  25680  25747  25139  25307   53757

In [11]:
getattr(mp,'xfinder')('r')

,Date,WMA,SMA,EMA,KAMA,RSI
20,2017-07-17,25710.455496,25750.833333,25802.308026,25838.824053,69.303536
21,2017-07-18,25777.326105,25809.000000,25865.615690,25943.428009,70.266745